* {
    margin: 0%;
    padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0%;
    padding: 0%;
}

.body_color {
    background-color: #f9f9f9;
}

header {

    min-height: 100vh;
}

.banner_section {
    background-image: url(../images/header-banner.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 70%;
    min-height: 100vh;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar {
    margin-top: 20px;
}

.extra {

    display: flex;

    align-items: center;

    border: 1px solid #fff;

    border-radius: 10px;

    padding: 5px 23px;

    margin-left: 30px;
}

.extra i {

    color: #fff;

    font-size: 17px;
}
.extra_one{

}
.extra_two{
    display: none;
}

.banner_content {

    margin-top: 70px;
}

.banner_content h2 {

    color: #0961b1;

    font-size: 50px;
}

.banner_content h1 {

    font-size: 55px;

    margin: 5px 0;
}

.banner_content p {

    font-size: 18px;

    margin: 25px 0;
}

.banner_btn {

    position: relative;
}

.btn_Quote {

    border: 1px solid #0c63b2;

    background-color: #0c63b2;

    color: #fff;

    padding: 17px 45px;
}


.btn_icon {
    position: absolute;
    bottom: 30%;
    right: 65%;

}

.btn_icon i {
    color: #fff;

}

.banner_photo {

    margin-top: 50px;
}

.live_calls {
    background-image: url(../images/bg-down-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    min-height: 100vh;
}

.live_photo {
    margin-top: 30px;
}

.live_content {
    text-align: end;
    margin-top: 50%;
}

.live_content h1 {
    color: #0c63b2;
    font-size: 50px;
}

.live_content h2 {
    font-size: 50px;
}

.live_content p {
    margin-top: 30px;
    font-size: 16px;
}

.service_item {}

.item_ss {

    background-color: #fff;

    height: 100%;

    width: 100%;

    padding: 50px 91px 50px 40px;

    box-shadow: 0px 0px 3px 2px #ddd9d9;

    border-radius: 20px;

    padding: 50px 63px 50px 40px;
    transition: .3s all ease-in-out;
}

.item_ss:hover {
    box-shadow: 0px 0px 4px 3px #00000080;
    transform: scale(1.03);
}

.photo_text {

    display: flex;

    margin-bottom: 35px;
}

.photo_one {}

.text_one {

    margin-left: 45px;
}

.text_one h2 {

    font-size: 30px;
}

.item_ss p {

    margin-bottom: 25px;

    line-height: 30px;

    font-weight: 500;
}

.gap {
    margin-bottom: 20px;
}

.started {
    background-image: url(../images/bg-3.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    min-height: 100vh;
    margin: 25px 0;
}

.ster_text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.ster_text h1 {

    text-transform: capitalize;

    font-size: 45px;

    color: #0f65b3;
}

.ster_text h2 {

    text-transform: capitalize;

    font-size: 45px;

    margin-left: 15px;
}

.markk {

    margin-top: 30px;
}

.icon_textt {
    display: flex;
    box-shadow: 0px 0px 2px 1px #d0c9c9;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px 40px;
    align-items: baseline;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}

.icon_textt:hover {
    box-shadow: 0px 0px 4px 3px #0000006e;
    background-color: #0c62b217;
    transform: scale(1.03);
}

.iccoon:hover {
    box-shadow: 0px 0px 4px 3px #0000006b;
    background-color: #ff000012;
}

.iconn {}

.iconn i {
    height: 30px;
    width: 30px;
    background-color: #0c63b2;
    border-radius: 50px;
    border: 1px solid #0c63b2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iicon i {
    height: 30px;
    width: 30px;
    background-color: #ff0808;
    border-radius: 50px;
    border: 1px solid #ff0101;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textt {
    margin-left: 30px;
}

.textt h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 45px;
}

.textt p {
    line-height: 28px;
    font-weight: 400;
}

.get_btn {

text-align: center;

position: relative;

margin-top: 30px;
}

.free_btn {

    border: 1px solid #0961b1;

    background-color: #0f65b3;

    color: #fff;

    padding: 15px 50px;

    position: relative;
}

.btn:hover {
    color: rgb(255, 255, 255);
}

.iccon {

    left: 57%;

    position: absolute;

    bottom: 30%;

    color: #fff;
}

.process {

    text-align: center;

    margin: 70px 0;
}

.ttext {
    margin-bottom: 100px;
}

.ttext h1 {

    text-transform: capitalize;

    font-size: 50px;
}

.DC_text {

    padding: 40px 40px;

    border-radius: 100px 100px 15px 15px;

    height: 390px;

    position: relative;

    background-color: #f3f3f3;

    margin: 0 15px;

    transition: .3s all ease-in-out;
}

.DC_text:hover {
    box-shadow: 0px 0px 5px 3px #4e4a4a87;
    transform: scale(1.05);
}

.DC_text h2 {

    margin: 15px 0;
}

.DC_text p {

    line-height: 30px;

    font-weight: 500;
}

.d_text {

    height: 75px;

    box-shadow: 0px 0px 2px 2px #e9e7e7;

    width: 75px;

    border-radius: 50px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin: auto;

    background-color: #fff;

    position: absolute;

    left: 50%;

    top: -35px;

    transform: translate(-50%);
}

.d_text h2 {

    border: 1px solid #0f65b3;

    border-radius: 50px;

    height: 40px;

    width: 40px;

    font-size: 22px;

    background-color: #0f65b3;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #fff;
}

.We_Serve {
    background-image: url(../images/bg-4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 120px;
}

.tteext {

    display: flex;

    justify-content: center;

    margin-bottom: 70px;
}

.tteext h1 {

    font-size: 50px;
}

.tteext h2 {

    font-size: 50px;

    color: #0f65b3;

    margin-left: 10px;
}

.serve_item {

    background-color: #fff;

    box-shadow: 0px 0px 2px 1px #0003;

    border-radius: 30px;

    padding: 20px;

    height: 400px;

    margin-bottom: 40px;

    transition: .3s all ease-in-out;
}

.serve_item:hover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.733);
    transform: scale(1.03);
}

.serve_item h2 {

    font-size: 30px;

    margin: 15px 0;
}

.pphhoto {}

.serve_item ul {}

.serve_item ul li {

    list-style: none;

    display: flex;

    align-items: center;

    line-height: 30px;
}

.serve_item ul li i {

    font-size: 17px;
}

.serve_item ul li p {

    font-size: 18px;

    font-weight: 500;

    margin-left: 20px;
}

.Frequently {

    text-align: center;

    margin-bottom: 65px;
}

.Frequently h1 {
    font-size: 40px;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}

.accordion-button {
    padding: 0;
    border: none;
}

.accordion-body {
    padding: 20px;
    border-radius: 7px;
}

.accordion-header {
    border: 2px solid #000;
    padding: 10px 0;
}

.accordion-item:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #0003;
    margin-bottom: 20px;
    border-radius: 20px 20px;
}

.accordion-header {
    border: 1px solid #00000047;
    border-radius: 20px;
    padding: 15px 10px;
    transition: .3s all ease-in-out;
    position: relative;
}

.accordion-header:hover {
    box-shadow: 0px 0px 4px 2px #000000d5;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.accordion-button:focus {
    z-index: 0;
    border-color: #fff;
    outline: none;
    box-shadow: none;
}

.accordion .accordion-item .accordion-button h3 {
    font-size: 22px;
    font-weight: 700;
    margin-left: 50px;
}
.accordion-button::after {
    content: "";
    position: absolute;
    left: 0%;
    background-image: url(../images/pluse.svg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.svg);
}











footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
    min-height: 100vh;
    margin-top: 70px;
}

.footer_content {}

.footer_content h2 {

    font-size: 45px;

    color: #0c63b2;
}

.footer_content h1 {

    font-size: 50px;
}

.footer_content p {

    font-size: 18px;

    margin: 20px 0;
}

.footer_content ul {

    margin: 70px 0 35px 0;
}

.footer_content ul li {

    display: flex;

    list-style: none;

    align-items: center;

    margin-bottom: 5px;
}

.footer_content ul li i {
    font-size: 18px;
    color: #0c63b2;
}

.footer_content ul li p {

    margin: 0;

    margin-left: 15px;
}

.footer_content h5 {

margin: 25px 0 30px 0;

font-size: 18px;
}

.footer_right {}

.footer_c {

    display: flex;

    align-items: center;

    margin: 35px 0 30px 0;
}

.footer_ll {}

.footer_ll h4 {

    font-size: 18px;

    color: #fff;
}

.footer_rr {

    display: flex;

    align-items: center;

    border: 1px solid #fff;

    padding: 12px 25px;

    margin-left: 15px;

    border-radius: 10px;
}

.footer_rr i {

    color: #fff;

    font-size: 15px;
}

.footer_rr h4 {
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.footer_right h5 {
    font-size: 18px;
    text-align: end;
    color: #fff;
}